.flex{
  background-color:palevioletred ;
  display: flex;
  align-items: center;
  gap: 30px;
  justify-content: space-between;
  flex-wrap: wrap;
}
.list{
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}
